# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/
*..DotSettings.user

# VS Code files
.vscode/

# MSTest files
TestResults/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*.exe
*.dll
*.pdb
*.cache
*.log

# NuGet
*.nuget.props
*.nuget.targets
packages/
*.nuget/packages/